/* left menu styling */



.left-menu-title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  border-bottom: 1px solid black;
  border-radius: 10px 0px 0px 0px;
  color: white;
  font-size: 20px;
  width: 100%;
}

.left-menu-title-container-left-child {
  padding-left: 12px;
  width: 80%;
}

.left-menu-title-container-right-child {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  width: 20%;
}

.left-menu-content-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  color: white;
}

.rooms-heading-and-settings-row {
  display: flex;
  justify-content: space-between;
}
.all-rooms-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.single-room-wrapper {
  display: flex;
  justify-content: space-between;
}

.single-room-container {
  display: flex;
  justify-content: space-between;
  min-width: 85%;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  margin: 2px 0px;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}

.single-room-container:hover{
  background-color: rgba(0, 128, 0, 0.508);
 }

 .single-room-container-active {
  display: flex;
  min-width: 85%;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  margin: 2px 0px;
  transition: 0.3s;
  cursor: pointer;
  color: white;
  background-color: rgba(250, 235, 215, 0.128);
}

.single-room-container-active:hover{
  background-color: rgba(255, 2, 2, 0.508);
 }
 .room-settings-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
 }

 .room-settings-icon:hover{
  transition: 0.3s;
  transform: rotate(.1turn);
 }
