.right-bar-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 16vw;
  padding: 10px 0px;
}

.right-bar-profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right-bar-social-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.right-bar-messaging-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.right-bar-messaging-tabs-container {
  display: flex;
  height: 5%;
  width: 100%;
  gap: 1vw;
}

.right-bar-tab-1{
  width: 33.33%;
  background-color: rgb(181, 181, 181);
  border-radius: 5px;
  text-align: center;
}
.right-bar-tab-2{
  width: 33.33%;
  background-color: rgb(181, 181, 181);
  border-radius: 5px;

  text-align: center;
}
.right-bar-tab-3{
  width: 33.33%;
  background-color: rgb(181, 181, 181);
  border-radius: 5px;
  text-align: center;
}

.active-m {
  z-index: 1;
  background-color: blue;
}

.messages-wrapper {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  overflow-y: scroll;
  height: 90%;
  width: 102%;
  margin: 0px 5px;
}

.single-message-styling {
  padding: 3px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.057);
  font-size: .8rem;
  padding-right: 12px;
}

.single-message-styling strong{
  margin-right: 3px;
}

.single-message-styling span{
  color: rgb(66, 66, 66);
}

.single-message-styling div{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: .7rem;
  color: rgb(66, 66, 66);
  width: 100%;
}

.message-input-container {
  height: 10%;
  border-radius: 5px;
}

.message-input-container textarea {
  width: 100%;
  height: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
  resize: none;
  border: none;
}
