.right-bar-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 16vw;
  padding: 10px 0px;
}

.right-bar-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
