#modal {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.192);
}

#modal-content {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 400px;
  background-color: #9a9a9a;
  border-radius: 5px;
}

#modal-file-input {
  display: none;
}

#modal-file-input + label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed #6e51e3;
  background-color: #FFF;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  top: -80px;
  margin-bottom: -80px;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 5px 8px rgba(black, 0.35);
  z-index: 1px;
}

#modal-file-input + label img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.modal-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.text-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}
.text-input-container >:first-child {
  margin-top: 0px;
}

.text-input-container >:last-child {
  margin-bottom: 0px;
}

.text-input-container input{
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: none;
  margin: 10px 0px;
}

.modal-form-container li {
  list-style: none;
}

.modal-game-menu-container {
  display: flex;
  justify-content: center;
  padding: 100px;
  /* padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 60px;
  grid-auto-rows: minmax(100px, auto); */
}

.modal-game-menu-container svg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #6e51e3;
  color: white;
}

.modal-game-menu-container svg:hover{
  background-color: #FFF;
  color: #e36e51;
  scale: 1.05;
}
