#modal {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.192);
}

#modal-content {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: salmon;
  border-radius: 12px;
  width: 100%;
  max-width: 568px;
}

.modal-form-wrapper {
  padding: 40px;
}

.modal-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.modal-form-container input{
  border-radius: 5px;
  border: 1px solid black;
}

.modal-form-container li {
  list-style: none;
}
