.the-app-styling-container {
  display: flex;
  background-color: #4CBB17	;
}

.right-bar-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 5vw;
  padding: 10px 0px;
}

.right-bar-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dummy-class {
  color: white;
}
