/* TODO Add site wide styles */
a {
  text-decoration: none;
  color: black;
}

button {
  background-color: #4C8BF5;
  border: none;
  padding: 6px;
  border-radius: 4px;
  color: white;
}


/* Form Styling */
.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.form-container {
  display: flex;
  flex-direction: column;
}
