/* TODO Add site wide styles */
body {
  overflow: hidden;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.delete-button {
  background-color: rgb(230, 0, 0);
}

button {
  background-color: #6e51e3;
  border: 1px rgba(255, 255, 255, 0.5) ;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

button:hover {
  box-shadow: 2px 2px 2px black;
  transform: translateY(-1px);
}

.clicky {
  cursor: pointer;
}


/* Icon Styling */

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  min-height: 40px;
  height: 40px;
  width: 40px;
  transition: 0.3s;
  background-color: #424549;
  margin: 6px 0px;
}

.icons-active {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  height: 40px;
  width: 40px;
  transition: 0.3s;
  margin: 4px 0px;
  background-color: #fff;
  border-radius: 10px;
  padding: 3px;
}

.icons-active svg {
  height: 20px;
  width: 20px;
  color: black;
}

.icons-active img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: transparent;
}

.icons:hover {
  background-color: white;
  border-radius: 10px;
  padding: 3px;
}

.icons svg{
  height: 15px;
  width: 15px;
  color: white;
}

.icons:hover svg {
  color: black;
}

.icons img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: transparent;
}

.upload-photo-icon {
  height: 20%;
  width: 20%;
}
