.navigation-left-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 4vw;
  padding: 10px 0px;
}

.navigation-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: thick double #4C8BF5;
}

.navigation-owned-homes {
  border-bottom: thick double #4C8BF5;
}

.navigation-joined-homes {

}
