.main-page-wrapper {
  display: flex;
  width: 80vw;
  height: 100vh;
}
/* Left Section */

.left-menu-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(50, 50, 50);
  border-radius: 10px 0px 0px 10px;
  height: 100vh;
  width: 12vw;
}


/* content styling */

.content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(80, 80, 80);
  height: 100%;
  width: 68vw;
}
