.main-page-wrapper {
  display: flex;
  width: 90vw;
  height: 100vh;
  border-radius: 50px;
}


/* content styling */

.content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(80, 80, 80);
  border-radius: 0px 10px 10px 0px;
  height: 100%;
  width: 80%;
}
